$base_font_size: 16px;
$base_line_height: 26px;
$font_heading: Ubuntu;
$font_main: DM Sans;
$font_heading_weight: 700;
$font_main_weight: 400;
$retina: "(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";

$thin:100;
$extralight:200;
$light:300;
$normal:400;
$medium:500;
$semibold:600;
$bold:700;
$extrabold:800;
$heavy:900;

$action_1: #F94144;
$action_2: #fc6532;
$action_3: #90BE6D;
$color_main: #424242;
$color_heading: #9e9e9e;
$color_white: #FFFFFF;
$color_gray: #bdbdbd;
$bg_dark: #242424;
$bg_light: #FFFFFF;

$color_red: #EA3223;
$color_red_hover: #e10000;
$color_green: #18c967;
$color_green_hover: #0cb658;
$color_facebook: #2e4da7;
$color_twitter: #0aa0f5;
$color_dribbble: #E93A7D;
